<h2>Welcome, <%= @user.username %>!</h2>

<h4><%= @user.username %>'s tweets:'</h4>
<ul>
  <% @user.tweets.each do |tweet| %>
    <li>Tweet# <%= tweet.content %>: <%= tweet.content %></li>
  <% end %>
</ul>
