<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body align="center">
    <a style="padding: 5px;" href="/signup">Sign Up</a>
    <a style="padding: 5px;" href="/login">Log In</a>
    <a style="padding: 5px;" href="/logout">Logout</a>
    <h1><img src="https://de15-engine.flamingtext.com/netfu/tmp28005/coollogo_com-9091958.png" alt="Fwitter logo"></h1>
    <%=yield%>
  </body>
</html>
