<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1><img src="https://de15-engine.flamingtext.com/netfu/tmp28005/coollogo_com-9091958.png" alt="Fwitter logo"></h1>
    <%=yield%>
  </body>
</html>
